<!-- Importação do header.ejs  -->
<%- include('../common/header') %>
    <!-- ------------------------------------------------------- -->


    <!-- importação do menu.ejs  -->
    <%- include('../common/menu') %>

        <!-- ------------------------------------------------------- -->

        <main>

        </main>

        <!-- ------------------------------------------------------- -->

        <!-- importacao do footer.ejs  -->
        <%- include('../common/footer') %>