#logo{
    width: 15%;
}

.form-signing{
    width: 100%;
    max-width: 330px;
    padding:15px;
    margin:auto;
}

.form-signing input[type="text"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0 ;
    border-bottom-left-radius: 0 ;
}

.form-signing input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0 ;
    border-top-right-radius: 0 ;
}