<header class = "container-fluid bg-dark sticky-top">
    <nav class="d-flex justify-content-between flex-column flex-sm-row flex-wrap justify-content-center align-items-center">
        <div>
            <img src="./img/logo_branca.svg" alt="logo">
        </div>
        <div>
            <ul class="nav nav-pills">
                <li><a href = "http:/" class="nav-link text-white" id="">Home</a> </li>
                <li><a href = "http:/noticias" class="nav-link text-white" id="">Notícias</a></li>
                <li><a href = "http:/admin" class="nav-link text-white" id="">Admin</a></li>
            </ul>
        </div>
    </nav>
</header>